<?xml version="1.0"?>
<config>
    <modules>
        <Ecomail_Ecomail>
            <version>1.0.0</version>
        </Ecomail_Ecomail>
    </modules>
    <global>
        <models>
            <ecomail>
                <class>Ecomail_Ecomail_Model</class>
            </ecomail>
        </models>
        <helpers>
            <ecomail>
                <class>Ecomail_Ecomail_Helper</class>
            </ecomail>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ecomail_Ecomail after="Mage_Adminhtml">Ecomail_Ecomail_Adminhtml</Ecomail_Ecomail>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <ecomail>
                    <file>ecomail.xml</file>
                </ecomail>
            </updates>
        </layout>
        <events>
            <!--<controller_action_postdispatch_customer_account_createpost>
                <observers>
                    <ecomail_create_account>
                        <class>ecomail/observer</class>
                        <method>createAccount</method>
                        <type>singleton</type>
                    </ecomail_create_account>
                </observers>
            </controller_action_postdispatch_customer_account_createpost>
            <checkout_submit_all_after>
                <observers>
                    <ecomail_checkout_create_account>
                        <class>ecomail/observer</class>
                        <method>createAccountCheckout</method>
                        <type>singleton</type>
                    </ecomail_checkout_create_account>
                </observers>
            </checkout_submit_all_after>-->
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <ecomail_model_observer>
                        <class>Ecomail_Ecomail_Model_Observer</class>
                        <method>subscribedToNewsletter</method>
                    </ecomail_model_observer>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <sales_order_place_after>
                <observers>
                    <ecomail_model_observer>
                        <class>Ecomail_Ecomail_Model_Observer</class>
                        <method>sales_order_afterPlace</method>
                    </ecomail_model_observer>
                </observers>
            </sales_order_place_after>
            <checkout_cart_add_product_complete>
                <observers>
                    <ecomail_model_observer>
                        <class>Ecomail_Ecomail_Model_Observer</class>
                        <method>processAddToCart</method>
                    </ecomail_model_observer>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ecomail>
                    <file>ecomail.xml</file>
                </ecomail>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ecomail_options>
                                            <title>Store Ecomail Module Section</title>
                                        </ecomail_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>
